Package: com.tapsharp.bluetoothrenamer
Name: Bluetooth Renamer
Depends: firmware(>= 9.0), mobilesubstrate, preferenceloader
Version: 1.0.0
Architecture: iphoneos-arm
Description: Rename your Bluetooth Devices.
Author: TapSharp <tweaks@tapsharp.com>
Maintainer: TapSharp <tweaks@tapsharp.com>
Sponsor: TapSharp <tweaks@tapsharp.com>
Icon: file:///Library/PreferenceBundles/BluetoothRenamerPrefs.bundle/bluetooth.png
Section: Tweaks
Tags:bluetooth,tapsharp
